<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ca.lakeheadu.ryanduan.andronut" >

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".FoodListActivity"
            android:label="@string/title_activity_food_list"
            android:parentActivityName=".MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="ca.lakeheadu.ryanduan.andronut.MainActivity" />
        </activity>
        <activity
            android:name=".RecordMealActivity"
            android:label="@string/title_activity_record_meal"
            android:parentActivityName=".MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="ca.lakeheadu.ryanduan.andronut.MainActivity" />
        </activity>
        <activity
            android:name=".MyMealsActivity"
            android:label="@string/title_activity_my_meals"
            android:parentActivityName=".MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="ca.lakeheadu.ryanduan.andronut.MainActivity" />
        </activity>
        <activity
            android:name=".MyCaloriesActivity"
            android:label="@string/title_activity_my_calories"
            android:parentActivityName=".MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="ca.lakeheadu.ryanduan.andronut.MainActivity" />
        </activity>
        <activity
            android:name=".FoodDetailActivity"
            android:label="@string/title_activity_food_detail"
            android:parentActivityName=".FoodListActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="ca.lakeheadu.ryanduan.andronut.FoodListActivity" />
        </activity>
        <activity
            android:name=".MealDetailActivity"
            android:label="@string/title_activity_meal_details"
            android:parentActivityName=".MyMealsActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="ca.lakeheadu.ryanduan.andronut.MyMealsActivity" />
        </activity>
    </application>

</manifest>
